<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ with .Page.Title }}{{ . }} - {{ end }}{{ .Site.Title }}</title>
    <base href="{{ .Site.BaseURL }}">
    {{ $normalize := resources.Get "css/normalize.css" }}
    {{ $solarized := resources.Get "css/solarized-light.css" }}
    {{ $style := resources.Get "css/style.css" }}
    {{ $css := slice $normalize $solarized $style | resources.Concat "css/main.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink }}">
</head>
