{{ define "main" }}
<main id="home">
    <div>
        <div class="avatar">
            <img src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.gravatar.email }}?s=240&d=mp" alt="gravatar">
        </div>
        <div id="content">
            {{ .Content }}
            {{ .Render "social-links" }}
        </div>
    </div>

    <div id="recent-posts">
        <h2>Recent Posts</h2>
        <ul>
            {{ range first 5 .Data.Pages.ByPublishDate.Reverse }}
                <li>
                    <span>{{ .Render "time-element" }}</span>
                    <a href="{{ .URL }}">{{ .Title }}</a>
                </li>
            {{ end }}
        </ul>
    </div>
</main>
{{ end }}
