{{ define "main" }}
<main class="lh-copy">
    <div class="dt">
        <div class="dtc w4 pr4 v-mid">
            <img src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.email }}?s=240&d=mp" class="w-100 db br-100" alt="gravatar">
        </div>
        <div class="dtc v-top">
            {{ .Content }}
            {{ .Render "social-links" }}
        </div>
    </div>

    <div class="mv4">
        <h2 class="f4">Recent Posts</h2>
        <ul class="list pa0">
            {{ range first 5 .Data.Pages.ByPublishDate.Reverse }}
                <li class="f5 mb1">
                    <span class="mt1 mr2 silver code"><time>{{ .Date.Format "2006-01-02" }}</time></span>
                    <a href="{{ .URL }}" class="link dim dark-blue fw6 w1">{{ .Title }}</a>
                </li>
            {{ end }}
        </ul>
    </div>
</main>
{{ end }}
